<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <socialmediageneral>
            <general>
                <enablesharing>1</enablesharing>
                <enablefollowlinks>1</enablefollowlinks>
            </general>
            <addthis>
                <addthisinstallcode></addthisinstallcode>
                <addthisinlinesharebuttons></addthisinlinesharebuttons>
            </addthis>
        </socialmediageneral>
        <socialmediachannels>
            <facebookchannel>
                <enablefacebooksharing>1</enablefacebooksharing>
                <enablefacebookfollowlink>1</enablefacebookfollowlink>
                <facebookfollowlink>https://www.facebook.com/</facebookfollowlink>
                <facebookfollowlinkalt></facebookfollowlinkalt>
            </facebookchannel>
            <twitterchannel>
                <enabletwittersharing>1</enabletwittersharing>
                <enabletwitterfollowlink>1</enabletwitterfollowlink>
                <twitterfollowlink>https://www.twitter.com/</twitterfollowlink>
                <twitterfollowlinkalt></twitterfollowlinkalt>
            </twitterchannel>
            <instagramchannel>
                <enableinstagramfollowlink>1</enableinstagramfollowlink>
                <instagramfollowlink>https://www.instagram.com/</instagramfollowlink>
                <instagramfollowlinkalt></instagramfollowlinkalt>
            </instagramchannel>
            <linkedinchannel>
                <enablelinkedinsharing>1</enablelinkedinsharing>
                <enablelinkedinfollowlink>1</enablelinkedinfollowlink>
                <linkedinfollowlink>https://www.linkedin.com/</linkedinfollowlink>
                <linkedinfollowlinkalt></linkedinfollowlinkalt>
            </linkedinchannel>
            <youtubechannel>
                <enableyoutubefollowlink>1</enableyoutubefollowlink>
                <youtubefollowlink>https://www.youtube.com/</youtubefollowlink>
                <youtubefollowlinkalt></youtubefollowlinkalt>
            </youtubechannel>
            <pinterestchannel>
                <enablepinterestsharing>1</enablepinterestsharing>
                <enablepinterestfollowlink>1</enablepinterestfollowlink>
                <pinterestfollowlink>https://www.pinterest.com/</pinterestfollowlink>
                <pinterestfollowlinkalt></pinterestfollowlinkalt>
            </pinterestchannel>
            <googlepluschannel>
                <enablegoogleplussharing>1</enablegoogleplussharing>
                <enablegoogleplusfollowlink>1</enablegoogleplusfollowlink>
                <googleplusfollowlink>https://plus.google.com/</googleplusfollowlink>
                <googleplusfollowlinkalt></googleplusfollowlinkalt>
            </googlepluschannel>
            <vimeochannel>
                <enablevimeofollowlink>1</enablevimeofollowlink>
                <vimeofollowlink>https://www.vimeo.com/</vimeofollowlink>
                <vimeofollowlinkalt></vimeofollowlinkalt>
            </vimeochannel>
        </socialmediachannels>
        <checkout>
            <cart>
                <open_cart_after_adding>1</open_cart_after_adding>
                <select_qty_enabled>1</select_qty_enabled>
                <select_qty_options>1-5</select_qty_options>
                <number_of_items_mobile_cart>3</number_of_items_mobile_cart>
                <show_edit_button>1</show_edit_button>
            </cart>
        </checkout>
    </default>
</config>
